<div class="container bg-light g-0">
  <app-header title="CodeLeap Network" variant="standard"></app-header>

  <div class="container gx-5 mt-4 pb-4">
    <main class="network-container">
      <app-post-create-card (save)="handleCreatePost($event)"> </app-post-create-card>

      @for (post of posts(); track post.id) {
        <app-view-post-card
          [title]="post.title"
          [username]="post.username"
          [content]="post.content"
          [timeAgo]="getRelativeTime(post.created_datetime)"
          [isOwner]="post.username === currentUser()"
          (editClick)="handleEdit(post.id)"
          (deleteClick)="handleDelete(post.id)"
        >
        </app-view-post-card>
      }
    </main>
  </div>
</div>

<app-modal [isOpen]="isDeleteModalOpen()" (close)="isDeleteModalOpen.set(false)">
  <h2 style="font-size: 22px; font-weight: 700; margin: 0; margin-bottom: 40px">
    Are you sure you want to delete this item?
  </h2>

  <div class="d-flex justify-content-end gap-3">
    <app-button
      label="Cancel"
      [fullWidth]="false"
      [outline]="true"
      color="light"
      (btnClick)="isDeleteModalOpen.set(false)"
    >
    </app-button>

    <app-button label="Delete" [fullWidth]="false" color="danger" (btnClick)="confirmDeletion()">
    </app-button>
  </div>
</app-modal>

<app-modal [isOpen]="isEditModalOpen()" (close)="isEditModalOpen.set(false)">
  @if (selectedPostForEdit()) {
    <app-post-create-card
      mode="edit"
      [initialTitle]="selectedPostForEdit()?.title || ''"
      [initialContent]="selectedPostForEdit()?.content || ''"
      (cancel)="isEditModalOpen.set(false)"
      (save)="handleSaveEdit($event)"
    >
    </app-post-create-card>
  }
</app-modal>
