<div class="post-create-card" [class.mode-edit]="mode() === 'edit'">
  <div class="card-content">
    <h2 class="card-title">
      {{ mode() === 'create' ? "What's on your mind?" : 'Edit item' }}
    </h2>

    <form [formGroup]="postForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <app-input
          label="Title"
          placeholder="Hello world"
          [control]="postForm.controls.title"
        ></app-input>
      </div>

      <div class="form-group">
        <app-textarea
          label="Content"
          placeholder="Content here"
          size="sm"
          [control]="postForm.controls.content"
        ></app-textarea>
      </div>

      <!-- <div class="d-flex justify-content-end gap-3 mt-4 w-100">
        @if (mode() === 'edit') {
          <app-button
            type="button"
            label="Cancel"
            [outline]="true"
            [fullWidth]="false"
            (btnClick)="cancel.emit()"
          >
          </app-button>
        }

        <app-button
          type="submit"
          [label]="mode() === 'create' ? 'Create' : 'Save'"
          [color]="mode() === 'create' ? 'primary' : 'success'"
          [fullWidth]="mode() === 'create'"
          [disabled]="postForm.invalid"
        >
        </app-button>
      </div> -->

      <div class="d-flex justify-content-end gap-3 mt-4 w-100">
        @if (mode() === 'edit') {
          <app-button
            type="button"
            label="Cancel"
            color="light"
            [outline]="true"
            [fullWidth]="false"
            (btnClick)="cancel.emit()"
            style="width: auto"
          >
          </app-button>
        }

        <app-button
          type="submit"
          [label]="mode() === 'create' ? 'Create' : 'Save'"
          [color]="mode() === 'create' ? 'primary' : mode() === 'edit' ? 'success' : 'danger'"
          [fullWidth]="mode() === 'create'"
          [disabled]="postForm.invalid"
          [style.width]="mode() === 'edit' ? 'auto' : '100%'"
        >
        </app-button>
      </div>
    </form>
  </div>
</div>
