:host {
  display: block;
  width: 100%;
}

.view-card {
  background: #ffffff;
  border: 1px solid #999999;
  border-radius: 16px;
  overflow: hidden;
  margin-bottom: 24px;

  .card-content {
    padding: 24px;

    .meta-info {
      display: flex;
      justify-content: space-between;
      margin-bottom: 18px;

      .username {
        font-weight: 700;
        font-size: 18px;
        color: #777777;
      }

      .time {
        font-weight: 400;
        font-size: 18px;
        color: #777777;
      }
    }

    .post-text {
      p {
        white-space: pre-line; // 👈 mover para cá
        font-weight: 400;
        font-size: 18px;
        line-height: 1.2;
        color: #000000;
        margin: 0;
        word-wrap: break-word;
      }
    }
  }
}
