input {
  border: 1px solid #777777;
  border-radius: 8px;
  background-color: #ffffff;
  color: #000000;
  padding: 8px 12px;
  font-size: 14px;
  outline: none;
  width: 100%;
  transition: border-color 0.2s;
  height: 32px;

  &:focus {
    border-color: #7695ec;
  }

  &::placeholder {
    color: #cccccc;
  }
}
