.signup-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #dddddd;
}

.signup-card {
  width: 500px;
  min-height: 206px;
  background-color: #ffffff;
  border-radius: 16px;
  border: 1px solid #cccccc;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);

  h1 {
    font-size: clamp(1.125rem, 1.05rem + 0.38vw, 1.375rem);
    font-weight: 700;
    margin: 0;
    color: #000000;
    line-height: 1.2;
  }

  .signup-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 24px;
  }
}

@media (max-width: 540px) {
  .signup-card {
    width: 95%;
    margin: 10px;
    height: auto;
    padding: 20px;

    .signup-content {
      margin-top: 18px;
    }
  }
}
