/* src/styles.scss */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Evita rolagem horizontal acidental */
}

body {
  background-color: #dddddd;
  font-family: 'Roboto', sans-serif;
}
